:root {
  --width-content: 85vw;
  --min-width-content: 650px;
  --max-width-content: 1440px;

  --color-font: #4f4f6b;
  --color-font-dark: #2d2d3d;
  --color-font-light: #696969;

  --off_white: #f8faff;

  --color-main: #f4157e;
  --color-accent: #cd106e;

  --gradient: linear-gradient(45deg, #00dbde, #fc00ff);

  color: var(--color-font);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(14px + (16 - 15) * ((100vw - 300px) / (1600 - 300)));
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
