:root {
  --content-width: 85vw;
  --content-max-width: 1440px;

  --font-color: #4f4f6b;
  --font-color-dark: #2d2d3d;
  --font-color-light: #696969;

  --off_white: #f8faff;
  --bright_pink: #f4157e;
  --dull_pink: #cd106e;

  --gradient: linear-gradient(45deg, #00dbde, #fc00ff);

  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(14px + (16 - 15) * ((100vw - 300px) / (1600 - 300)));
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
